name: Job Postings Scraper

on:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  scrape_job_postings:
    runs-on: ubuntu-latest
    env:
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_API_TOKEN }}
      CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install requests beautifulsoup4 pandas decouple
    - name: Run scraper script
      run: python scraper.py
